a. far inserire all'utente due valori interi

In [57]:
a = int(input('inserisci'))
b = int(input('inserisci'))

inserisci15
inserisci10

b. effettuare le 4 operazioni aritmetiche tra i due numeri

In [58]:
print('Risultati:' , str(a+b) , str(a-b), str(a/b), str(a*b))

Risultati: 25 5 1.5 150

c. effettuare l'elevamento a potenza del primo numero per il secondo

In [59]:
print(pow(a,b))

576650390625

d. effettuare il calcolo del resto della divisione tra il primo e il secondo numero

In [60]:
print(a%b)

5

f. effettuare la divisione intera tra il primo e il secondo numero

In [61]:
print(a//b)

1

g. incrementare di una unità entrambi i numeri

In [62]:
print(a + 1, b + 1)

16 11

h. far inserie all'utente due valori: il primo rappresenta la sua altezza (in metri) e il secondo rappresenta il suo peso (in kg). Visualizzare poi l'IMC (google it...)

In [63]:
c = int(input('Il tuo peso '))
d = input('La tua altezza ')
f = float(d)
e = c / (f*f)
print(e)

Il tuo peso 60
La tua altezza 1.8
18.51851851851852

i. arrotondare l'IMC precedente

In [64]:
print(round(e))

19

j. visualizzare il proprio nome, cognome, data di nascita e città di nascita separando le informazioni con un trattino.

In [70]:
id = 'Andrea-Giodice-27/01/2005-Milano '
print(id)

Andrea-Giodice-27/01/2005-Milano

k. visualizzare le stesse informazioni per 10 volte di seguito

In [71]:
print(id * 10)

Andrea-Giodice-27/01/2005-Milano Andrea-Giodice-27/01/2005-Milano Andrea-Giodice-27/01/2005-Milano Andrea-Giodice-27/01/2005-Milano Andrea-Giodice-27/01/2005-Milano Andrea-Giodice-27/01/2005-Milano Andrea-Giodice-27/01/2005-Milano Andrea-Giodice-27/01/2005-Milano Andrea-Giodice-27/01/2005-Milano Andrea-Giodice-27/01/2005-Milano

l. assegnare il proprio nome e cognome ad una stringa e visualizzarla con tutte le lettere maiuscole

In [72]:
idd = 'Andrea Giodice'
print(idd.upper())

ANDREA GIODICE

m. assegnare il proprio nome e cognome ad una stringa e visualizzarla con le prime lettere maiuscole

In [88]:
o = 'andrea'
p = 'giodice'

print(o.capitalize(), p.capitalize())

Andrea Giodice

n. assegnare il proprio nome e cognome ad una stringa e visualizzarne la lunghezza

In [92]:
nome = 'AndreaGiodice'

print(len(nome))

13

o. assegnare il proprio nome e cognome ad una stringa e contate quante vocali contiene

In [ ]:
nome1('AndreaGiodice')
print()